.form {
  display: grid;
  place-items: center;
  height: 100vh;

}

form {
  border: 1px solid black;
  padding: 2%;
}

.link {
  border: 1px solid black;
}

.navbar{
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-around;
  padding-bottom: 3px;
}